QWidget {
    background: #E7E7E7;
    height: 48px;
}

QPushButton {
    background: #7093DB;
    background-position: center;
    color: #fff;
    border: none;
    width: 48px;
} 

QPushButton:pressed {
    background: #ADBAEA;
    background-position: center;
}

QPushButton#m_btnConectar:pressed {
    background: #666;
    background-position: center;
}

QLineEdit {
    border: none;
    border-bottom: 2px solid #ACCCCC;
    background: transparent ;
    color: #333;
    background-image: url(:/img/img/line_edit_bottom.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

QLabel {
    color: #999;    
}

QTextEdit {
    background: #EDEDED;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 2px solid #ACCCCC;
    color: #333;
    background-color: rgba(0, 0, 0, 10%);
}

/**
*  QScrollBar
*/
 QScrollBar:vertical {
    border: none; 
    background: #D6D6D6;
 }

QScrollBar:handle:vertical {
    background: #B2B2B2;
    border: none;   
  }

 QScrollBar:add-line:vertical, QScrollBar:sub-line:vertical {
    border: none;
    background: #D6D6D6;
 }

/**
*  QSpinBox
*/
  QSpinBox
, QDateTimeEdit 
, QDoubleSpinBox
{
    qproperty-alignment: AlignCenter;
    border: none;
    border-bottom: 0.2em solid #ccc;
    color: #333;
    min-height: 1.5em;
}

  QSpinBox:up-button
, QDateTimeEdit:up-button
, QDoubleSpinBox:up-button
, QScrollBar:up-arrow:vertical
{
    width: 25px;
    height: 25px;
    subcontrol-position: right;
    border-right-color: darkgray;
    border-right-style: solid;
    background: #ccc url(:/img/img/up.png) no-repeat;
    background-position: center;

 }

  QSpinBox:down-button
, QDateTimeEdit:down-button 
, QDoubleSpinBox:down-button
, QScrollBar:down-arrow:vertical
, QComboBox:down-arrow
{
    width: 25px;
    height: 25px;
    subcontrol-position: left;
    border-right-width: 0px;
    border-right-color: darkgray;
    border-right-style: solid;
    background: #ccc url(:/img/img/down.png) no-repeat;
    background-position: center;
 }
